@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --fw-light: 300;
  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;
  --fz-h1: 1.5rem;
  --fz-h2: 2.25rem;
  --fz-body: 1rem;
  --fz-xl: 4.4rem;
  --cl-light: #fff;
  --cl-gray: #989898;
  --cl-dark: #444;
  --cl-accent: #d06d6d;
  --cl-accent-dark: #613131;
}

body {
  margin: 0;
  background-image: url('./images/mars.jpg');
  background-size: cover;

  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--cl-light);
  line-height: 1.6;
  min-height: 100vh; /* bg-clip fix */
}

.sr-only:not(:focus):not(:active) {
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
}

h1,
h2,
h3 {
  line-height: 1;
}

.main-title {
  font-size: var(--fz-h1);
  font-weight: var(--fw-light);
  text-transform: uppercase;
  color: var(--cl-accent);
  letter-spacing: 2px; /* wider for headings */
  grid-column: 1 / -1; /* take whole row */
}

.section-title {
  font-size: var(--fz-h2);
  font-weight: var(--fw-bold);
  margin: 0 0 0.1em; /* remove default mt|mb 1em */
}

.current-weather__data {
  font-size: var(--fz-h1);
  margin: 0;
  color: var(--cl-gray);
}

a {
  color: var(--cl-accent);
}

a:hover {
  color: var(--cl-accent-dark);
}

@media (min-width: 900px) {
  body {
    height: 100vh;
    overflow: hidden;
  }
}
